table th {
    text-align: center;
    border: white 5px solid;
    margin: 3px;
  padding: 3px;
  font-weight: bold;
  }
  table td {
    text-align: center;
    border: white 5px solid;
    margin: 3px;
  padding: 3px;
  }