@import "src/@fuse/scss/fuse";
.example-container {
    position: relative;
   max-height: 450px;
   overflow: auto;
   
 }
 
 .example-table-container {
   position: relative;
   
 
 }

 table th {
  text-align: center;
  margin: 3px;
padding: 3px;
font-weight: bold;
}
table td {
  text-align: center;
  margin: 3px;
padding: 3px;
}
 
 table {
   width: 100%;
   border:  rgba(0, 0, 0, 0.15);
 }
 
 .pasajeroList-loading-shade {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 56px;
   right: 0;
   background: rgba(0, 0, 0, 0.15);
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .pasajeroList-rate-limit-reached {
   color: #980000;
   max-width: 360px;
   text-align: center;
 }
 .mat-column {
  padding:5%; 
 }
 /* Column Widths */
 .mat-column-Idllamada,
 .mat-column-select {
   max-width: 100px;
 }
 
 .mat-column-created {
   max-width: 124px;
 }