<form [formGroup]="productoForm" (ngSubmit)="guardar()">
    <div fxLayout="column" fxLayoutAlign="center">

        <div class="filters" fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

             <mat-form-field  appearance="outline" class="category-selector" style="width:25%;">
                <mat-label>Código de Producto</mat-label> 
                <input matInput placeholder="Código..." value="" formControlName="cod_producto">
               
            </mat-form-field>

             <mat-form-field  appearance="outline" class="category-selector" style="width:40%;">
                <mat-label>Descripción</mat-label> 
                <input matInput placeholder="Descripción..." value="" formControlName="nombre">
               
            </mat-form-field>

            <mat-form-field  appearance="outline" class="category-selector" style="width:25%;">
                <mat-label>Precio</mat-label> 
                <input matInput placeholder="Precio..." value="" formControlName="precio">
               
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center">

        <div class="filters" fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <div class="example-button-row" style="margin-bottom: 20px;">
                <button mat-raised-button color="primary" style="width:150px;margin: 20px;padding: 10px;" (click)="listarProductos()">Listar</button>
                <button type="submit" mat-raised-button color="primary" style="width:150px;margin: 20px;padding: 10px;" [disabled]="productoForm.invalid" >Guardar</button>
            </div>


        </div>
    </div>

 </form>
   

<br>
  <table   mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="cod_producto">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Código </th>
        <td mat-cell *matCellDef="let productosList"> 
             {{productosList.data.cod_producto}} 
        </td>
      </ng-container>
      
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Descripción </th>
        <td mat-cell *matCellDef="let productosList"> 
            {{productosList.data.nombre}} 
        </td>
      </ng-container>

      <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Precio </th>
        <td mat-cell *matCellDef="let productosList"> 
            {{productosList.data.precio}} 
        </td>
      </ng-container>
    
      

      <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Editar </th>
        <td mat-cell *matCellDef="let productosList"> 
          <a  mat-fab class="mat-mini-fab "    (click)="editar(productosList)" >
              <mat-icon>edit_forever</mat-icon>
          </a>
        </td>
      </ng-container>


      <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Eliminar </th>
        <td mat-cell *matCellDef="let productosList"> 
          <a  mat-fab class="mat-mini-fab "  (click)="eliminar(productosList.data.cod_producto)" >
              <mat-icon>delete_forever</mat-icon>
          </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator></mat-paginator>
    
    